<div id="connect_button">
    <a href="/connect">Login Twitter(Now Under construction)</a>
</div>
<h2>About</h2>
<p>
    This twitter2mixi is that Your Twitter status write Your <a href='http://mixi.jp/recent_echo.pl' target='_blank'>mixi echo</a>! Twitter status write so mixi echo auto post.
</p>

<h2>Author</h2>
<p>
    <a href='http://cyberwave.jp/nashiki/'  target='_blank'>nashiki shigeyuki</a>
</p>
