<div id="message">
Only 2 steps!<br>
<br>
First Step. This <a href="/connect">TwitterPage</a> open and click "Allow"!<br>
<br>
<a href="/connect">Step 1, Please Push "Allow" at Twitter page.</a>
</div>
<h2>About</h2>
<p>
    This twitter2mixi is that Your Twitter status write Your <a href='http://mixi.jp/recent_echo.pl' target='_blank'>mixi echo</a>! Twitter status write so mixi echo auto post.
</p>

<h2>Author</h2>
<p>
    <a href='http://cyberwave.jp/nashiki/'  target='_blank'>nashiki shigeyuki</a>
</p>
