<center>
<p>
<big>
お手軽登録！ あなたのTwitterをMixiエコーに自動送信します。(無料)<br>
</big>
</p>
<br>
<img src='/images/twitter_allow.jpg'>
</center>
<div id="message">
あなたの、Twitterで、「Allow」のボタンをクリックして下さい。<br>
<br>
</div>
<center>
<h1><a href="/connect">登録はこちらから。(無料)</a></h1>
</center>
<h2>このアプリは何？</h2>
<p>
  Twitterしたつぶやきを、Mixiエコーに自動送信するサービスです。<br>
</p>

<h2>作者</h2>
<p>
    <a href='http://cyberwave.jp/nashiki/'  target='_blank'>nashiki shigeyuki</a>
</p>
