<center>
<p>
<big>お手軽登録！</big>
<h1>
あなたのTwitterをMixiエコーに自動送信します。(無料)<br>
</h1>
</p>
<br>
<a href="/connect"><img src='/images/twitter_allow.jpg'></a>
</center>
<div id="message">
あなたの、Twitterで、「Allow」のボタンをクリックして下さい。<br>
<br>
</div>
<center>
<h1><a href="/connect">登録はこちらから。(無料)</a></h1>
</center>
<h2>このアプリは何？</h2>
<p>
  Twitterしたつぶやきを、Mixiエコーに自動送信するサービスです。<br>
</p>
<br>
<%= partial :ad %>
