<div id="message">
Only 2 steps!<br>
<br>
Second Step. <br>
<br>
Please tell me This Mixi account.<br>
<%= @flash_mess %><br>
<form method="post" action="/signup">
Email:<input type="text" name="email" value="<%=  params[:email] %>"/><br>
Password:<input type="password" name="password" value="<%=  params[:password] %>"/><br>
<input type="submit" value="submit" />
</form>
</div>
