<center>
<p>
あなたの、
<h1>Mixiアカウントを教えて下さい。</h1><br>
<div id="message">
<%= @flash_mess %>
</div>
</p>
<br>
<img src="/images/mixi_top.jpg" width='70%'>
</center>
<div id="message">
こちらにMixiアカウントを入力して、<br>
「Twitter2Mixi登録」ボタンをクリックして下さい。
</div>

<form method="post" action="/signup">
<table align="center">
  <tr>
    <td>
    <img src="/images/mixi_logo.gif" width='50%'>
    </td>
    <td>
      Email<br>
      <input type="text" name="email" value="<%=  params[:email] %>"/><br>
      Password<br>
      <input type="password" name="password" value="<%=  params[:password] %>"/><br>
      　　　　　　▼<br>
      <input type="submit" value="　Twitter2Mixi登録　" />
    </td>
  </tr>
</table>
</form>
