<center>
<p>
<% if @flash_mess && @flash_mess != '' %>
    <div class="message error-message">
        <p><strong><%= @flash_mess%></strong></p>
    </div>
<% end %>
あなたの、Mixiアカウントを教えて下さい。<br>
</p>
<br>
<img src="/images/mixi_top.jpg" width='70%'>
</center>

<center><br><br>
<div class="message">
こちらにMixiアカウントを入力して、
「Twitter2Mixi登録」ボタンをクリックして下さい。
</div>

<form method="post" action="/signup">
    <img src="/images/mixi_logo.gif"><br>
      Email<br>
      <input type="text" name="email" value="<%=  params[:email] %>"/><br>
      Password<br>
      <input type="password" name="password" value="<%=  params[:password] %>"/><br>
      　　　　　　▼<br>
      <input type="submit" value="　Twitter2Mixi登録　" />
</form>
</center>
