<center>

<br>

</center>
<div id="message">
<%= @flash_mess %>

Twitter2Mixi登録を解除する場合には、<br>
「Twitter2Mixi解除」ボタンをクリックして下さい。
</div>

<form method="post" action="/unregist">
<table align="center">
  <tr>
    <td>
    <img src="/images/mixi_logo.gif" width='50%'>
    </td>
    <td>
      <input type="submit" value="　Twitter2Mixi解除　" />
    </td>
  </tr>
</table>
</form>
