<% if @flash_mess %><div class="message thank-message"><p><strong><%= @flash_mess %></strong></p></div><% end %>
<h1 class="orange">連携サービス</h1>
次にMixiボイスの<a href='/member/setting/mixi'>連携設定</a>を行ってください。
<!--
<h1 class="orange">全般設定</h1>
twitter2mixiは、現在、<font color="red"><strong><% if @user_dao.active_flg %>動いて<% else %>一時中止になって<% end %></strong></font>います。<br>
サービスを、<% if @user_dao.active_flg %><a href="/member/setting/inactive">一時中止</a><% else %><a href="/member/setting/active">再開</a><% end %>にする<br>
<br>
<% if @user_dao.active_flg %>
<h3 class="orange">連携サービス</h3>
<ul>
  <% @webservices.each { |webservice| %>
  <li><a href="/member/setting/<%= webservice['name'] %>"><%= webservice['ja'] %></li>
  <% } %>
</ul>
<% end %>
-->
