<center>
<div class="message thank-message">
<p>
<strong>あなたの、Mixiアカウントを教えて下さい。</strong>
</p>
</div>
<% if @flash_mess.size > 0 %>
<div class="message error-message">
<p>
<strong><%= @flash_mess %></strong>
</p>
</div>
<% end %>
<br>
<img src="/images/mixi_top.jpg" width='50%'>

<div id="message">
こちらにMixiアカウントを入力して、<br>
「Twitter2Mixi登録」ボタンをクリックして下さい。
</div>

<form method="post" action="/signup">
    <img src="/images/mixi_logo.gif"><br>
      Email<br>
      <input type="text" name="email" value="<%=  params[:email] %>"/><br>
      Password<br>
      <input type="password" name="password" value="<%=  params[:password] %>"/><br>
      　　　　　　▼<br>
      <input type="submit" value="　Twitter2Mixi登録　" />
</form>

</center>
